@charset "UTF-8";
/*样式重置*/
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, button, div { margin: 0; padding: 0; }

body { font-family: "PingFang SC","\5FAE\8F6F\96C5\9ED1","Microsoft Yahei",Arial,Helvetica,sans-serif,"\5B8B\4F53"; font-size: 12px; -webkit-text-size-adjust: 100%; padding: 0; margin: 0; background-color: #f5f5f5; }

a { color: #333; text-decoration: none; }

textarea { resize: none; }

em { font-style: normal; }

li { list-style: none; }

s { text-decoration: none; }

b { font-weight: normal; }

img { border: 0; }

table { border-collapse: collapse; border-spacing: 0; }

p { word-wrap: break-word; }

i { font-style: normal; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

input[type=button], button { cursor: pointer; }

button { outline: none; border: none; font-size: inherit; }
button:disabled { cursor: default; }

input, button, select, textarea { font-family: inherit; }

input::-moz-placeholder, textarea::-moz-placeholder { color: #999; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999; }

input::input-placeholder, textarea::placeholder { color: #999; }

/*样式重置结束*/
/*全局公用样式*/
@font-face { font-family: 'iconfont'; src: url("../../fonts/iconfont.eot");
  /* IE9*/
  src: url("../../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/iconfont.woff") format("woff"), url("../../fonts/iconfont.ttf") format("truetype"), url("../../fonts/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont, body .layui-layer-setwin .layui-layer-close1, .security_form .msg.msg_success:before, .security_form .msg.msg_error:before { font-family: "iconfont" !important; font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale; }

.layout_wrap { min-width: 1190px; }

.layout_main, .w1190 { width: 1190px; margin: 0 auto; }

.container, .v3_container { width: 1190px; margin: 0 auto; min-height: 400px; padding-bottom: 75px; clear: both; position: relative; }

.bg_white { background: #fff; }

.hide { display: none; }

.ihide { display: none !important; }

.clearfix, .layout_main, .w1190, .home_category .category_nav ul .category_box, .home_category .category_nav ul .category_child, .home_pro_box .pro_top, .home_pro_box .pro_main, .v3_top_main .t_right_m .erweima, .h_nav_wrap .category_nav ul .category_box, .h_nav_wrap .category_nav ul .category_child, .userWrap, .districtMain li { *zoom: 1; }
.clearfix:before, .layout_main:before, .w1190:before, .home_category .category_nav ul .category_box:before, .home_category .category_nav ul .category_child:before, .home_pro_box .pro_top:before, .home_pro_box .pro_main:before, .v3_top_main .t_right_m .erweima:before, .h_nav_wrap .category_nav ul .category_box:before, .h_nav_wrap .category_nav ul .category_child:before, .userWrap:before, .districtMain li:before, .clearfix:after, .layout_main:after, .w1190:after, .home_category .category_nav ul .category_box:after, .home_category .category_nav ul .category_child:after, .home_pro_box .pro_top:after, .home_pro_box .pro_main:after, .v3_top_main .t_right_m .erweima:after, .h_nav_wrap .category_nav ul .category_box:after, .h_nav_wrap .category_nav ul .category_child:after, .userWrap:after, .districtMain li:after { content: " "; display: table; }
.clearfix:after, .layout_main:after, .w1190:after, .home_category .category_nav ul .category_box:after, .home_category .category_nav ul .category_child:after, .home_pro_box .pro_top:after, .home_pro_box .pro_main:after, .v3_top_main .t_right_m .erweima:after, .h_nav_wrap .category_nav ul .category_box:after, .h_nav_wrap .category_nav ul .category_child:after, .userWrap:after, .districtMain li:after { clear: both; }

.ellipsis, .header .header_service .service_slt li a, .home_category .category_nav ul .category_name, .h_nav_wrap .category_nav ul .category_name, .districtMain .province { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.transition_2 { -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }

.btn-gray { background-color: #ccc !important; border-color: #ccc !important; color: #fff !important; }

.fl { float: left; }

.fr { float: right; }

.block { display: block; }

.iblock { display: inline-block; *display: inline; *zoom: 1; }

.v_hidden { visibility: hidden !important; }

.transparent { filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }

.border_box { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.content_box { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

.no_b_l { border-left: none !important; }

.no_b_r { border-right: none !important; }

.no_b_t { border-top: none !important; }

.no_b_b { border-bottom: none !important; }

.no_border { border: none !important; }

.no_p_l { padding-left: 0 !important; }

.no_p_r { padding-right: 0 !important; }

.no_p_t { padding-top: 0 !important; }

.no_p_b { padding-bottom: 0 !important; }

.no_padding { padding: 0 !important; }

.no_m_l { margin-left: 0 !important; }

.no_m_r { margin-right: 0 !important; }

.no_m_t { margin-top: 0 !important; }

.no_m_b { margin-bottom: 0 !important; }

.no_margin { margin: 0 !important; }

.align_left { text-align: left !important; }

.align_right { text-align: right !important; }

.align_center { text-align: center !important; }

.icon_tips { width: 18px; height: 18px; line-height: 18px; font-size: 17px; color: #fe7000; text-align: center; display: inline-block; *display: inline; *zoom: 1; vertical-align: -1px; margin: 0 5px; cursor: pointer; }

.text_bold { font-weight: bold; }

.text_normal { font-weight: normal; }

.text_dark { color: #333; }

.text_gray { color: #666; }

.text_light { color: #999; }

.text_green { color: #008000; }

.text_green2 { color: #38c31d; }

.text_red { color: #f00; }

.text_blue { color: #206ebc; }

.text_primary { color: #fe7000; }

.text_warning { color: #c73030; }
.icon-close:before { content: "\e605"; }

.icon-search:before { content: "\e612"; }

.icon-cart:before { content: "\e636"; }

.icon-cryingface:before { content: "\e737"; }

.icon-rightarrow:before { content: "\e731"; }

.icon-leftarrow:before { content: "\e736"; }

.icon-qq:before { content: "\e69e"; }

.icon-duihao:before { content: "\e600"; }

.icon-cha:before { content: "\e633"; }

.icon-dingdanzhongxin:before { content: "\e645"; }

.icon-wodezichan:before { content: "\e609"; }

.icon-zhanghushezhi:before { content: "\e66e"; }

.icon-touzi:before { content: "\e818"; }

.icon-zhuanrang:before { content: "\e647"; }

.icon-jiekuan:before { content: "\e64a"; }

.icon-xinxi:before { content: "\e62f"; }

.icon-wenhao:before { content: "\e60a"; }

.icon-xiugai:before { content: "\e6b8"; }

.icon-shanchu:before { content: "\e663"; }

.icon-jinggao:before { content: "\e61e"; }

.icon-tianjia:before { content: "\e71b"; }

.icon-gantanhao:before { content: "\e60d"; }
body { width: 100%; background-color: #f5f5f5; }

.v3_container a { -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }

body .layui-layer { border-radius: 5px; }
body .layui-layer-title { border-radius: 5px 5px 0 0; }/*color: #fff; background-color: #fe7000; */
/*body .layui-layer-setwin .layui-layer-close1 { background: none; color: #fff; }
body .layui-layer-setwin .layui-layer-close1:before { content: "\e633"; }*/
/*body .layui-layer-btn a { border: 1px solid #fe7000; color: #fe7000; }
body .layui-layer-btn .layui-layer-btn0 { background-color: #fff; border: 1px solid #fe7000; color: #fe7000; }*/
body .layer_alert { color: #666; font-size: 14px; padding: 20px 10px 10px; line-height: 20px; text-align: center; width: 250px; }
body .layer_msg { color: #666; font-size: 14px; padding: 20px 10px 25px; line-height: 20px; text-align: center; width: 250px; }

.header { background: #fff; height: 100px; position: relative; z-index: 11; }
.header.hasbb { border-bottom: 1px solid #efefef; }
.header.header_fix { width: 100%; position: fixed; left: 0; top: 0; z-index: 100; -webkit-animation: .5s ease slideInDown forwards 1; animation: .5s ease slideInDown forwards 1; -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }
.header .logo { width: 240px; float: left; height: 53px; margin-top: 23px; text-align: center; }
.header .logo h1 img{height: 53px;}
.header .logo a { display: inline-block; }
.header .login_title { float: left; color: #333; font-size: 26px; line-height: 26px; margin-top: 37px; }
.header .nav { float: left; line-height: 26px; font-size: 15px; padding-left: 4px; padding-top: 8px;margin-left:61px; }
.header .nav li { float: left; margin: 0 14px; }
.header .nav li a { display: block; color: #333; height: 84px; line-height: 84px; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.header .nav li a.selected, .header .nav li a:hover { color: #fe7000; }
.header .header_service { float: right; height: 84px; padding-right: 8px; padding-top: 8px; }
.header .header_service .service_item { position: relative; float: left; padding: 30px 15px 15px; }
.header .header_service .service_item:hover .service_slt, .header .header_service .service_item .dropdown .service_slt { display: block; }
.header .header_service .service_item:hover .myCartMain, .header .header_service .service_item .dropdown .myCartMain { display: block; }
.header .header_service .service_search { position: relative; height: 30px; border-radius: 20px; padding: 0; margin: 25px 15px 0; width: 200px; text-align: right; word-break: keep-all; white-space: nowrap; border: 1px solid #e5e5e5; line-height: 28px; overflow: hidden; -webkit-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; }
.header .header_service .service_search input { float: left; margin-top: 3px; border: none; outline: 0; width: 155px; height: 24px; margin-left: 15px; font-size: 12px; line-height: 24px; color: #333; }
.header .header_service .service_search .search_btn { float: left; font-size: 18px; cursor: pointer; padding: 0 5px; height: 30px; line-height: 30px; }
.header .header_service .service_link { position: relative; display: inline-block; vertical-align: middle; width: 24px; height: 24px; line-height: 24px; color: #666; }
.header .header_service .avatar { display: block; width: 100%; height: 100%; border-radius: 100%; }
.header .header_service .icon-cart { font-size: 26px; }
.header .header_service .cart_num { display: block; background: #fe7000; min-width: 18px; padding: 0 4px; height: 18px; line-height: 18px; color: #fff; font-size: 12px; text-align: center; border-radius: 4px; position: absolute; left: 20px; top: -20px; }
.header .header_service .cart_num:before { content: ''; width: 0; height: 0; position: absolute; border-left: 5px solid #fe7000; border-top: 5px dashed transparent; border-bottom: 5px dashed transparent; bottom: -5px; left: 7px; }
.header .header_service .service_slt { display: none; background-color: #fff; border-radius: 3px; padding: 6px 0; width: 96px; margin-left: -49px; border: 1px solid #efefef; position: absolute; top: 64px; left: 50%; -webkit-animation: .5s ease c_slideInUp forwards 1; animation: .5s ease c_slideInUp forwards 1; }
.header .header_service .service_slt:before, .header .header_service .service_slt:after { content: ''; width: 0; height: 0; border-left: 6px dashed transparent; border-right: 6px dashed transparent; border-bottom: 6px solid #efefef; margin-left: -6px; position: absolute; left: 50%; top: -6px; }
.header .header_service .service_slt:after { border-bottom-color: #fff; top: -5px; }
.header .header_service .service_slt li a { position: relative; display: block; color: #666; padding: 7px 0; background-color: transparent; text-align: center; -webkit-transition: all 0.3s; transition: all 0.3s; }
.header .header_service .service_slt li a:hover { background-color: #eee; color: #fe7000; }
.header .header_service .myCartMain { display: none; position: absolute; right: -8px; top: 64px; z-index: 10; width: 330px; background: #fff; border: 1px solid #efefef; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); -webkit-animation: .5s ease c_slideInUp forwards 1; animation: .5s ease c_slideInUp forwards 1; }
.header .header_service .myCartMain:before, .header .header_service .myCartMain:after { content: ''; width: 0; height: 0; border-left: 6px dashed transparent; border-right: 6px dashed transparent; border-bottom: 6px solid #efefef; margin-left: -6px; position: absolute; right: 26px; top: -6px; }
.header .header_service .myCartMain:after { border-bottom-color: #fff; top: -5px; }
.header .header_service .myCartMain h4 { height: 25px; padding: 6px 12px; line-height: 25px; color: #666; }
.header .header_service .nogoods { padding: 40px 70px; height: 44px; line-height: 22px; overflow: hidden; color: #999; }
.header .header_service .nogoods b { float: left; width: 44px; height: 44px; line-height: 44px; font-size: 44px; color: #666; margin-right: 15px; }
.header .header_service .myCartCont { background: #fff; height: auto !important; height: 344px; max-height: 344px; overflow-y: auto; }
.header .header_service .myCartList { margin-top: -1px; }
.header .header_service .myCartList li { padding: 10px 12px; border-top: 1px dotted #ccc; overflow: hidden; line-height: 17px; color: #646464; vertical-align: bottom; }
.header .header_service .myCartList li:hover { background-color: #fafafc; }
.header .header_service .myCartList .p-img { float: left; width: 50px; height: 50px; border: 1px solid #ddd; padding: 0; margin-right: 10px; font-size: 0; }
.header .header_service .myCartList .p-img img { width: 100%; height: 100%; }
.header .header_service .myCartList .p-name { float: left; width: 110px; height: 52px; overflow: hidden; }
.header .header_service .myCartList .p-detail { float: right; text-align: right; }
.header .header_service .myCartB { padding: 12px 12px; background: #f8f8f8; overflow: hidden; border-top: 1px solid #eee; }
.header .header_service .myCartB .p-total { float: left; line-height: 29px; }
.header .header_service .myCartB .p-total b { padding: 0 3px; color: #fe7000; }
.header .header_service .myCartB a { float: right; height: 29px; padding: 0 12px; background: #ff7900; color: #fff; text-align: center; font-weight: 700; line-height: 29px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

@-webkit-keyframes c_slideInUp { 0% { opacity: 0; -webkit-transform: translate(0, 10px); }
  100% { opacity: 1; -webkit-transform: translateZ(0); } }
@keyframes c_slideInUp { 0% { opacity: 0; transform: translate(0, 10px); }
  100% { opacity: 1; transform: translateZ(0); } }
@-webkit-keyframes c_slideInLeft { 0% { opacity: 0; -webkit-transform: translate(-10px, 0); }
  100% { opacity: 1; -webkit-transform: translateZ(0); } }
@keyframes c_slideInLeft { 0% { opacity: 0; transform: translate(-10px, 0); }
  100% { opacity: 1; transform: translateZ(0); } }
@-webkit-keyframes slideInDown { 0% { -webkit-transform: translateY(-100%); visibility: visible; }
  100% { -webkit-transform: translateZ(0); } }
@keyframes slideInDown { 0% { transform: translateY(-100%); visibility: visible; }
  100% { transform: translateZ(0); } }

.home_pro_box { color: #333; border:1px solid #eee;background: #fff;  margin-top: 40px;border-radius: 10px; }
.home_pro_box .pro_ad { margin-top: 40px; }
.home_pro_box .pro_ad img { width: 100%; }
.home_pro_box .pro_top { line-height: 30px; padding:10px 20px 0; }
.home_pro_box .pro_top h3 { float: left; font-size: 24px;}
.home_pro_box .pro_top .pro_nav { float: left; padding-left: 30px; font-size: 14px; line-height: 26px; margin-top: 2px; }
.home_pro_box .pro_top .pro_nav a { float: left; color: #333; margin-right: 28px; }
.home_pro_box .pro_top .pro_nav a:hover { color: #fe7000; }
.home_pro_box .pro_top .pro_nav a.selected { color: #fe7000; border-bottom: 2px solid #fe7000; }
.home_pro_box .combo_btn { float: right; }
.home_pro_box .combo_btn span { border: 1px solid #e6e6e6; width: 28px; height: 28px; line-height: 28px; color: #e6e6e6; font-size: 16px; text-align: center; cursor: pointer; float: left; margin-left: 5px; }
.home_pro_box .combo_btn span.canRoll { color: #bdbdbd; border-color: #bdbdbd; -webkit-transition: all 0.5s; transition: all 0.5s; }
.home_pro_box .combo_btn span.canRoll:hover { color: #fe7000; border-color: #fe7000; }
.home_pro_box .refresh_wrap { float: right; overflow: hidden; }
.home_pro_box .refresh_wrap .refresh_btn { line-height: 20px; font-size: 14px; cursor: pointer; }
.home_pro_box .refresh_wrap .refresh_btn i { background: url(../../images/web_icons_spr.png) -463px -144px no-repeat; width: 14px; height: 16px; display: inline-block; vertical-align: -2px; *vertical-align: 1px; margin-left: 10px; }
.home_pro_box .more_wrap { float: right; }
.home_pro_box .more_wrap .more_btn { font-size: 14px; cursor: pointer; -webkit-transition: color 0.2s linear; transition: color 0.2s linear; }
.home_pro_box .more_wrap .more_btn:hover { color: #fe7000; }
.home_pro_box .more_wrap .more_btn i { display: inline-block; vertical-align: 1px; width: 16px; height: 16px; line-height: 16px; color: #fff; font-size: 12px; margin-left: 8px; background: #b0b0b0; text-align: center; border-radius: 100%; }

.banner_wrap { position: relative; height: 460px; }
.banner_wrap .banner_main { width: 100%; height: 100%; overflow: hidden; position: absolute; left: 0; }
.banner_wrap .banner_pic { height: 100%; position: relative; left: 0; top: 0; overflow: hidden; }
.banner_wrap .banner_pic li { float: left; position: relative; width: 100%; height: 100%; text-align: center; }
.banner_wrap .banner_pic li a { display: block; height: 100%; }
.banner_wrap .banner_pic li img { height: 100%; vertical-align: middle; width: auto; }
.banner_wrap .banner_btn_l { background: url(../../images/spr_v4.png) 0 0 no-repeat; background-color: rgba(0, 0, 0, 0.2); background-color: #c4c4c4 \9; cursor: pointer; width: 30px; height: 60px; margin-top: -30px; margin-left: -395px; position: absolute; top: 50%; left: 50%; z-index: 10; }
.banner_wrap .banner_btn_l.selected { background-position: -60px 0; }
.banner_wrap .banner_btn_r { background: url(../../images/spr_v4.png) -30px 0 no-repeat; background-color: rgba(0, 0, 0, 0.2); background-color: #c4c4c4 \9; cursor: pointer; width: 30px; height: 60px; margin-top: -30px; margin-left: 565px; position: absolute; top: 50%; left: 50%; z-index: 10; }
.banner_wrap .banner_btn_r.selected { background-position: -90px 0; }
.banner_wrap .banner_list { text-align: center; width: 200px; margin-left: -100px; padding: 3px 0; position: absolute; left: 50%; bottom: 10px; z-index: 10; }
.banner_wrap .banner_list li { font-size: 0; display: inline-block; *display: inline; *zoom: 1; width: 8px; height: 8px; border-radius: 50%; margin: 0 5px; cursor: pointer; border: solid 2px #bdbdbd; text-indent: -100em; overflow: hidden; background: url(../../images/blank.gif) 0 0 no-repeat; }
.banner_wrap .banner_list li.selected { background: none; background-color: #fe7000; border-color: #fe7000; }


.header_nav_wrap { background: #f5f5f5; border-bottom: 2px solid #ff7900; width: 100%; min-width: 1190px; }
.header_nav_wrap .sub_nav_box { width: 1190px; margin: 0 auto; height: 0; position: relative; z-index: 11; }
.header_nav_wrap .sub_nav_box .h_nav_wrap { float: none; display: none; position: absolute; left: 0; top: 2px; z-index: 11; }
.header_nav_wrap .sub_nav_box.show .h_nav_wrap, .header_nav_wrap .sub_nav_box.keep_show .h_nav_wrap { display: block; }
.header_nav_wrap .sub_nav_box.keep_show .l_banner_nav ul, .header_nav_wrap .sub_nav_box.keep_show .category_nav ul { min-height: 459px; }

.header_nav { width: 1190px; margin: 0 auto; clear: both; overflow: hidden; }
.header_nav h3 { background: #ff7900; float: left; width: 192px; padding-left: 20px; height: 50px; line-height: 50px; color: #fff; font-size: 20px; }
.header_nav ul { display: block; overflow: hidden; float: left; width: 944px; padding-left: 10px; height: 50px; line-height: 50px; }
.header_nav ul li { float: left; }
.header_nav ul li a { padding: 0 22px; display: block; font-size: 20px; color: #646464; cursor: pointer; }
.header_nav ul li a:hover { color: #fe7000; }

@-webkit-keyframes animate-left { 0% { margin-left: 0px; opacity: 1; }
  40% { margin-left: 10px; }
  50% { margin-left: 15px; opacity: 0.5; }
  60% { margin-left: 10px; }
  100% { margin-left: 0px; opacity: 1; } }
@-moz-keyframes animate-left { 0% { margin-left: 0px; }
  40% { margin-left: 10px; }
  50% { margin-left: 15px; }
  60% { margin-left: 10px; }
  100% { margin-left: 0px; } }
.history_nav { line-height: 40px; height: 40px; font-size: 14px; width: 1190px; margin: 0 auto; clear: both; overflow: hidden; color: #999; }
.history_nav span { padding: 0 5px; float: left; }
.history_nav i { display: block; float: left; max-width: 350px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.history_nav a { float: left; color: #333; }
.history_nav a:hover { text-decoration: underline; }
.history_nav .blue { color: #2e50aa; }
.history_nav .dark { color: #333; }
.history_nav .light { color: #999; }

.pages_wrap { margin: 30px auto 10px; text-align: center; }
.pages_wrap .pages_main { display: inline-block; *display: inline; *zoom: 1; font-size: 14px; color: #333; }
.pages_wrap .p_item { float: left; margin: 0 4px; text-align: center; line-height: 20px; padding: 5px 15px; }
.pages_wrap .p_item:hover { background-color: #eaeaea; }
.pages_wrap .current { color: #fe7000; cursor: default; }
.pages_wrap .current:hover { background-color: transparent; }
.pages_wrap .p_prev, .pages_wrap .p_next, .pages_wrap .p_btn { border: 1px solid #ddd; min-width: 18px; height: 18px; line-height: 18px; padding: 5px 5px; cursor: pointer; color: #d3cecc; background: #fff; }
.pages_wrap .p_prev:hover, .pages_wrap .p_next:hover, .pages_wrap .p_btn:hover { background-color: #fff; }
.pages_wrap .p_btn { padding: 5px 8px; }
.pages_wrap .p_etc { color: #ccc; cursor: text; font-family: simsun,"microsoft yahei"; }
.pages_wrap .p_etc:hover { background-color: transparent; }
.pages_wrap .p_prev, .pages_wrap .p_next { font-size: 18px; }
.pages_wrap .p_prev.disabled, .pages_wrap .p_next.disabled { color: #efefef; }
.pages_wrap .p_prev:before { content: "\e736"; }
.pages_wrap .p_next:before { content: "\e731"; }
.pages_wrap .disabled { color: #ccc; cursor: default; }

.footZfIcon { display: inline-block; background: url(../../images/footer-icones.png) no-repeat; width: 28px; height: 30px; vertical-align: middle; margin-left: 6px; }

.userWrap { margin-top: 20px; }
.userWrap table { max-width: 100% !important; }

.memberNav { background: #fafafc; width: 185px; font-size: 14px; color: #666; float: left; padding-bottom: 30px; }
.memberNav dl { padding-bottom: 5px; }
.memberNav dl dt { line-height: 44px; height: 44px; font-weight: bold; padding: 0 10px 6px 42px; position: relative; }
.memberNav dl dt i { font-weight: normal; font-size: 20px; width: 22px; height: 22px; line-height: 22px; text-align: center; position: absolute; left: 16px; top: 12px; }
.memberNav dl dt .icon-dingdanzhongxin { font-size: 26px; top: 11px; left: 14px; }
.memberNav dl dt .icon-zhuanrang { left: 15px; }
.memberNav dl dt .icon-jiekuan { font-size: 19px; }
.memberNav dl dd { line-height: 34px; }
.memberNav dl dd a { display: block; color: inherit; padding: 0 10px 0 42px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.memberNav dl dd a:hover { color: #fe7000; }
.memberNav dl dd.selected a { color: #fe7000; }

.memberMain { background: #fff; width: 980px; float: right; overflow: hidden; min-height: 400px; }
.memberMain .member_header { height: 51px; border-bottom: 1px solid #eee; position: relative; }
.memberMain .member_header .mh_btn { background: #fe7000; display: inline-block; *display: inline; *zoom: 1; border: 1px solid #fe7000; height: 28px; line-height: 28px; text-align: center; color: #fff; font-size: 14px; border-radius: 5px; margin-top: 10px; margin-right: 15px; padding: 0 .5em; }
.memberMain .member_header .back_btn { color: #666; background: none; border-color: transparent; padding: 0; }
.memberMain .member_header .back_btn:hover { color: #fe7000; }
.memberMain .main_tab { float: left; }
.memberMain .main_tab li { float: left; line-height: 50px; padding: 0 15px; margin-right: 33px; position: relative; }
.memberMain .main_tab li:after { content: ""; background: #f0eef0; width: 1px; height: 12px; position: absolute; right: -17px; top: 50%; margin-top: -6px; }
.memberMain .main_tab li:last-of-type:after { display: none; }
.memberMain .main_tab li.selected a { color: #fe7000; border-bottom: 2px solid #fe7000; }
.memberMain .main_tab li a { display: block; font-size: 18px; color: #666; font-weight: bold; padding: 0 14px; position: relative; }
.memberMain .main_tab li a:hover { color: #fe7000; }
.memberMain .main_tab li .num { border-radius: 2px; max-width: 20px; height: 14px; font-size: 12px; color: #fff; text-align: center; line-height: 14px; padding: 0 2px; background: #fe7000; position: absolute; right: -4px; top: 9px; }
.memberMain .main_filter { margin-top: 20px; padding: 6px 15px 6px; font-size: 14px; color: #666; }
.memberMain .main_filter.on_title { margin-top: 4px; }
.memberMain .main_filter span { line-height: 32px; }
.memberMain .main_filter label input { margin: 10px 7px 0 0; *margin-top: 6px; }
.memberMain .main_filter .m_left { margin-left: 20px; }
.memberMain .main_filter .m_right { margin-right: 20px; }
.memberMain .main_filter .form_input { float: left; border: 1px solid #e5e5e5; border-radius: 5px; width: 122px; height: 30px; color: inherit; line-height: 30px; outline: none; padding: 0 5px; }
.memberMain .main_filter select { float: left; border: 1px solid #e5e5e5; border-radius: 5px; color: inherit; width: 127px; height: 30px; line-height: 30px; outline: none; padding-left: 5px; box-sizing: content-box; }
.memberMain .main_filter .w_long { width: 180px; }
.memberMain .main_filter .filter_btn { float: left; display: inline-block; background: #fafafc; border-radius: 5px; border: 1px solid #e5e5e5; cursor: pointer; color: #666; margin-left: 15px; height: 30px; line-height: 30px; text-align: center; padding: 0 15px; }
.memberMain .main_filter .primary { background: #fe7000; border-color: #fe7000; color: #fff; }
.memberMain .main_filter .search_wrap { float: left; border: 1px solid #e5e5e5; height: 30px; border-radius: 15px; }
.memberMain .main_filter .search_wrap .form_input { border: 0; float: left; background: transparent; width: 175px; padding: 0 3px 0 16px; outline: none; }
.memberMain .main_filter .search_wrap button { background: url(../../images/web_icons_spr.png) -424px 6px no-repeat; outline: none; cursor: pointer; float: left; color: #fff; border: 0; padding: 0; width: 38px; height: 30px; line-height: 30px; text-align: center; }
.memberMain .wallet_info { line-height: 44px; font-size: 14px; margin-top: 20px; padding: 12px 15px 6px; }
.memberMain .wallet_info.type2 .info_name { width: auto; }
.memberMain .wallet_info.type2 li { float: none; width: auto; margin-right: 50px; white-space: nowrap; display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }
.memberMain .wallet_info.col4 .info_name { width: 6em; }
.memberMain .wallet_info.col4 li { width: 25%; }
.memberMain .wallet_info li { float: left; width: 33.3%; }
.memberMain .wallet_info .info_name { float: left; color: #666; width: 135px; text-align: right; }
.memberMain .wallet_info .info_cont { float: left; font-weight: bold; font-size: 18px; color: #fe7000; }
.memberMain .wallet_info .info_cont a { font-size: 14px; color: #206ebc; font-weight: normal; }
.memberMain .main_table { margin-top: 20px; }
.memberMain .main_table .table_title { line-height: 40px; color: #666; font-size: 14px; background: #f8f8f8; padding: 0 15px; font-weight: bold; border-bottom: 1px solid #e5e5e5; }
.memberMain .main_table table { width: 100%; font-size: 14px; color: #666; }
.memberMain .main_table thead { padding-bottom: 20px; }
.memberMain .main_table thead th { background: #fafafc; height: 40px; font-weight: normal; }
.memberMain .main_table tr { -webkit-transition: background 0.2s ease; transition: background 0.2s ease; }
.memberMain .main_table tr:hover { background: #f8f8f8; }
.memberMain .main_table td { text-align: center; padding: 12px 5px; border-bottom: 1px dashed #e5e5e5; }
.memberMain .main_table h2 { font-size: 14px; padding: 0 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.memberMain .main_table .text_link { color: #666; }
.memberMain .main_table .text_link:hover { color: #fe7000; }
.memberMain .main_table .checkbox { text-align: left; padding-left: 15px; }
.memberMain .main_table .sort_btn { background: url(../../images/web_icons_spr.png) 0 0 no-repeat; width: 10px; height: 13px; display: inline-block; font-size: 0; vertical-align: -1px; margin-left: 6px; cursor: pointer; }
.memberMain .main_table .sort_btn.down { background-position: -13px 0; }
.memberMain .member_notes { margin-top: 20px; border-top: 1px solid #eee; padding: 26px 15px 10px; color: #666; font-size: 14px; line-height: 32px; }
.memberMain .member_notes .notes_title { padding-bottom: 6px; font-weight: bold; }
.memberMain .pages_wrap { margin-left: 25px; margin-right: 25px; }

h3.docTitle { background: #f8f8f8; height: 50px; line-height: 50px; padding: 0 25px; font-size: 18px; color: #333; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.docCont { padding: 30px 25px 30px; font-size: 16px; line-height: 2; text-indent: 2em; word-wrap: break-word; word-break: break-all; font-family: inherit !important; }
.docCont table { border: 1px solid #666; margin: 0 auto; max-width: 100%; text-indent: 0; }
.docCont table td { border: 1px solid #666; padding: 0 7px; }
.docCont img { display: block; max-width: 100%; margin: 0 auto; }

.security_form { padding: 45px 0 25px; }
.security_form.nopd { padding: 0; }
.security_form.ucpd { padding: 45px 15px 20px; }
.security_form li { line-height: 38px; font-size: 14px; color: #666; padding: 8px 0; position: relative; vertical-align: top; *zoom: 1; }
.security_form li:before, .security_form li:after { content: " "; display: table; }
.security_form li:after { clear: both; }
.security_form li.input_radius input[type=text], .security_form li.input_radius input[type=password], .security_form li.input_radius select, .security_form li.input_radius textarea { border-radius: 4px; }
.security_form li.input_radius .picItem, .security_form li.input_radius .fileMain { border-radius: 4px; }
.security_form li input[type=text], .security_form li input[type=password], .security_form li select, .security_form li textarea { float: left; width: 240px; padding: 0 6px; height: 36px; line-height: 36px; font-size: 14px; color: #666; border: 1px solid #e5e5e5; outline: none; margin-right: 10px; *vertical-align: middle; }
.security_form li input[type=text]:disabled, .security_form li input[type=password]:disabled, .security_form li select:disabled, .security_form li textarea:disabled { background: #ebebe4; }
.security_form li input.code_input { width: 120px; }
.security_form li input.short_input { width: 30px; margin-left: 10px; }
.security_form li select { padding-right: 0; padding-left: 2px; width: 254px; }
.security_form li .slt_box select { width: 122px; margin-right: 10px; }
.security_form li .slt4 select { width: 23.5%; margin-right: 1%; }
.security_form li textarea { padding-top: 10px; padding-bottom: 10px; line-height: 1.1; height: 42px; font-family: inherit; }
.security_form li.word { line-height: 24px; padding: 0; }
.security_form .get_code, .security_form .verify { background: #fafafc; float: left; border: 1px solid #e5e5e5; border-radius: 4px; height: 36px; line-height: 36px; color: inherit; overflow: hidden; width: 108px; margin-right: 10px; text-align: center; box-sizing: content-box; }
.security_form .fsize18 { font-size: 18px; }
.security_form .fsize16 { font-size: 16px; }
.security_form .fsize14 { font-size: 14px; }
.security_form .fsize12 { font-size: 12px; }
.security_form .letter { float: left; }
.security_form .fieldName { float: left; width: 285px; padding-right: 10px; text-align: right; }
.security_form .fieldName i { color: #fa0000; padding-right: 4px; }
.security_form .w4em { width: 4em; }
.security_form .w5em { width: 5em; }
.security_form .w6em { width: 6em; }
.security_form .fieldConc { float: left; width: 640px; }
.security_form .fieldConc .desc { line-height: 1.5; padding: 8px 0 8px 7px; }
.security_form .fieldConc .notes { clear: both; line-height: 16px; padding-top: 7px; color: #999; padding-left: 7px; }
.security_form .fieldConc .sbtn { padding: 6px 15px; }
.security_form .normal_input, .security_form .normal_select { display: inline-block; *display: inline; *zoom: 1; padding: 0 4px; min-height: 32px; line-height: 32px; font-size: 14px; color: #666; border: 1px solid #e5e5e5; outline: none; vertical-align: middle; }
.security_form .normal_input.has_radius, .security_form .normal_select.has_radius { border-radius: 4px; }
.security_form .rmb_input_wrap { position: relative; }
.security_form .rmb_input_wrap:after { content: "¥"; display: block; font-size: 14px; color: #c8c8c8; line-height: 14px; position: absolute; left: 6px; top: 50%; margin-top: -7px; }
.security_form .rmb_input_wrap input[type=text] { width: 228px; padding-left: 18px; }
.security_form .normal_label { display: inline-block; *display: inline; *zoom: 1; }
.security_form .normal_label input { margin-right: 4px; vertical-align: middle; }
.security_form .normal_label .normal_input { float: none; }
.security_form .normal_label span { padding-right: 4px; vertical-align: middle; }
.security_form .spanauto { width: auto !important; }
.security_form .span1 { width: 8.33333% !important; }
.security_form .span2 { width: 16.66667% !important; }
.security_form .span3 { width: 25% !important; }
.security_form .span4 { width: 33.33333% !important; }
.security_form .span5 { width: 41.66667% !important; }
.security_form .span6 { width: 50% !important; }
.security_form .span7 { width: 58.33333% !important; }
.security_form .span8 { width: 66.66667% !important; }
.security_form .span9 { width: 75% !important; }
.security_form .span10 { width: 83.33333% !important; }
.security_form .span11 { width: 91.66667% !important; }
.security_form .span12 { width: 100% !important; }
.security_form .msg, .security_form .field-validation-error { color: #e63232; font-size: 14px; }
.security_form .msg.msg_success:before, .security_form .msg.msg_error:before { content: "\e627"; display: inline-block; width: 16px; color: #09bb07; vertical-align: -1px; padding-right: 5px; }
.security_form .msg.msg_info { color: #fe7000; }
.security_form .msg.msg_error:before { content: "\e67b"; color: #e63232; }
.security_form .dark { color: #333; }
.security_form .light { color: #999; }
.security_form .red { color: #f00; }
.security_form .blue { color: #206ebc; }
.security_form .import { color: #fe7000; }
.security_form .forget_pwd { float: left; margin-right: 14px; color: #005ea7; }
.security_form .picList .picItem div { width: 88px; height: 88px; display: table-cell; text-align: center; vertical-align: middle; }
.security_form .picList .picItem img { max-width: 88px; max-height: 88px; }
.security_form .picList .picItem:hover .delFile, .security_form .picList .picItem:hover .movePrev, .security_form .picList .picItem:hover .moveNext { display: block; }
.security_form .picList .picItem .delFile, .security_form .picList .picItem .movePrev, .security_form .picList .picItem .moveNext { background: url(../../images/web_icons_spr.png) -460px -338px no-repeat; display: none; width: 16px; height: 16px; position: absolute; top: 0; right: 0; z-index: 1; overflow: hidden; }
.security_form .picList .picItem .movePrev { background-position: -370px -416px; right: 40px; }
.security_form .picList .picItem .moveNext { background-position: -396px -416px; right: 20px; }
.security_form .picList .picItem, .security_form .picList .fileMain { float: left; border: 1px dashed #e5e5e5; width: 88px; height: 88px; margin-right: 10px; margin-bottom: 10px; overflow: hidden; position: relative; }
.security_form .picList .fileMain { cursor: pointer; }
.security_form .picList .fileMain span { background: #aaa; display: block; width: 70px; height: 6px; margin-left: -35px; margin-top: -3px; position: absolute; left: 50%; top: 50%; z-index: 1; }
.security_form .picList .fileMain i { background: #aaa; display: block; width: 6px; height: 70px; margin-left: -3px; margin-top: -35px; position: absolute; left: 50%; top: 50%; z-index: 1; }
.security_form .picList .fileMain input { display: block; cursor: pointer; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }
.security_form .confirm_withdraw { display: inline-block; width: 100px; height: 40px; line-height: 40px; text-align: center; font-size: 15px; color: #fff; background: #ff7900; border-radius: 5px; margin-top: 10px; }
.security_form .refresh { background: url(../../images/web_icons_spr.png) -41px -448px no-repeat; width: 20px; height: 20px; vertical-align: middle; margin: -4px 0 0 10px; }
.security_form .sbtn { display: inline-block; *display: inline; padding: 4px 15px; margin-bottom: 0; font-size: 14px; line-height: 24px; color: #666; text-align: center; vertical-align: middle; cursor: pointer; background-color: #f5f5f5; border: 1px solid #e5e5e5; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; outline: none; *zoom: 1; position: relative; }
.security_form .sbtn:after { content: '.'; width: 0; height: 0; overflow: hidden; visibility: hidden; display: inline-block; }
.security_form .sbtn_mini { padding: 0px 10px; }
.security_form .has_mr { margin-right: 10px; }
.security_form .has_ml { margin-left: 10px; }
.security_form input.sbtn { *padding: 2px 11px; }
.security_form .security_action { border-top: 1px solid #eee; padding: 15px 20px 20px; }
.security_form .sbtn_normal { color: #fff; background-color: #fe7000; border-color: #fe7000; }
.security_form .sbtn_ctrl { color: #fe7000; background-color: #fff; border-color: #fe7000; }
.security_form .sbtn_info { color: #fff; background-color: #2f96b4; border-color: #2f96b4; }
.security_form .sbtn_danger { color: #fff; background-color: #bd362f; border-color: #bd362f; }
.security_form .sbtn_warning { color: #fff; background-color: #faa732; border-color: #faa732; }
.security_form .sbtn_success { color: #fff; background-color: #51a351; border-color: #51a351; }
.security_form .sbtn_primary { color: #fff; background-color: #006dcc; border-color: #006dcc; }
.security_form .sbtn_move_up, .security_form .sbtn_move_down, .security_form .sbtn_del, .security_form .sbtn_del1, .security_form .sbtn_move_top, .security_form .sbtn_move_bottom { background: url(../../images/web_icons_spr.png) -278px -414px no-repeat; display: inline-block; *display: inline; *zoom: 1; width: 16px; height: 16px; cursor: pointer; opacity: .8; filter: alpha(opacity=80); }
.security_form .sbtn_move_down { background-position: -257px -414px; }
.security_form .sbtn_del { background-position: -345px -415px; }
.security_form .sbtn_del1 { background-position: -321px -415px; }
.security_form .sbtn_move_top { background-position: -299px -414px; }
.security_form .sbtn_move_bottom { background-position: -236px -414px; }
.security_form .file_input { display: block; cursor: pointer; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2; filter: alpha(opacity=0); -moz-opacity: 0; opacity: 0; }

.no_data { width: 100%; height: 100%; padding-top: 1px; min-height: 300px; clear: both; }
.no_data .d_icon { width: 56px; height: 56px; margin: 80px auto 0; position: relative; }
.no_data .d_icon i { background: url(../../images/web_nodata.png) 0 0 no-repeat; position: absolute; width: 100%; height: 100%; left: 0; top: 0; }
.no_data .d_icon .type2 { background-position: -66px 0; }
.no_data .d_icon .type3 { background-position: -132px 0; }
.no_data .d_icon.animation .type1, .no_data .d_icon.animation .type2 { animation: nodata 6s -2s ease infinite; }
.no_data .d_icon.animation .type2 { opacity: 0; animation-delay: 1s; }
.no_data .no_data_main { text-align: center; padding: 10px 20px 0; font-size: 14px; color: #666; line-height: 1.5; }
.no_data .no_data_main a { color: #2e50aa; }
.no_data .f12 { font-size: 12px; }
.no_data .f16 { font-size: 16px; }
.no_data .f18 { font-size: 18px; }
.no_data .dark { color: #333; }
.no_data .light { color: #999; }

@-webkit-keyframes nodata { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes nodata { 0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; } }
template{display: none;}
.notesList{margin:0 20px;}
.notesList li{margin-bottom: 10px;}
.notesList .nTitle{line-height:40px;font-size:16px;padding:0 20px;background: #f5f5f5;}
.notesList .nCont{padding:10px 20px;border:1px solid #eee;font-size: 14px;color:#666;}

/*# sourceMappingURL=base.css.map */
